@import '../abstract/index';
@import '../components/index';

.hero-section {
	// padding: 300px 0 0px;
	padding-top: 300px;
	// --mt-negative: -7rem;
	// margin-top: var(--mt-negative);
	margin-bottom: 50px;

	@include mq(sm) {
		padding-top: calc(62vw - 3rem);
	}
	@include mq(2sm) {
		padding-top: calc(60vw - 4rem);
	}

	@include mq(med) {
		padding-top: 0;
		padding-bottom: 190px;
	}
	@include mq(lg) {
		padding-top: 0;
		padding-bottom: 250px;
	}
	@include mq(xl) {
		padding-bottom: 40px;
	}
	@include mq(2xl) {
		// box-shadow: inset 0 0.75vw $primary;
	}

	/* @include mq(med) {
		// --mt-negative: -8rem;
		padding-top: 30px !important;
	} */

	@include mq(lg) {
		// --mt-negative: -6rem;
	}

	/* background: url(/мужчина\ в\ салоне\ тренажера\ -\ tft\ aero.jpg),
		linear-gradient(0deg, #ffffff 28.11%, rgba(255, 255, 255, 0) 69.4%); */
	// background: url(/главная-фон.png),
	// 	linear-gradient(0deg, rgb(255, 255, 255) 50.11%, rgba(255, 0, 0, 0) 69.4%),
	// 	url(/волны\ -\ мобил\ -\ первый.svg);
	// background-size: 125%, cover, 90%;
	// background-position: left -80px top 0px, center center, left -2vw top 120%;
	// background-repeat: no-repeat, no-repeat;

	// background-blend-mode: screen, darken;

	position: relative;

	.hero-section {
		// .hero-section__bg

		&__bg {
		}

		// .hero-section__bg-white

		&__bg-white {
		}

		// .hero-section__bg-man

		&__bg-man {
			position: absolute;
			top: -7%;
			right: 0;

			width: 100%;

			z-index: 0;

			img {
				width: 100%;
				object-fit: cover;

				max-height: 457px;
				object-position: top;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				width: 100%;
				height: 100%;

				background: linear-gradient(
					0deg,
					#ffffff 2.11%,
					rgba(255, 255, 255, 0) 58.4%
				);
			}

			@include mq(med) {
				// top: -4.07vw;
				top: -6.25%;
				// top: calc(-6.25% - 30px);
				width: 59.6%;

				&::after {
					top: 7.24%;
					left: 0%;
					background: linear-gradient(
						90deg,
						#ffffff 0.11%,
						rgba(255, 255, 255, 0) 40.4%
					);

					mix-blend-mode: screen;
				}
			}

			@include mq(920px) {
				top: -6.4%;
			}

			@include mq(lg) {
				top: -6.4%;

				img {
					max-height: 600px !important;
				}
			}

			@include mq(xl) {
				top: -8%;

				&::after {
					top: 9%;
				}
			}
			@include mq(2xl) {
				top: -7.4%;
				max-width: 980px;

				img {
					max-height: 750px !important;
				}

				&::after {
					top: 7.5%;
				}
			}

			@include mq(1500px) {
				top: -7.9%;
				max-width: $maw-container;

				&::after {
					top: 8%;
				}
			}

			@include mq(4xl) {
				top: -7.5%;

				&::after {
					top: 10.5%;
				}
			}
		}

		// .hero-section__bg-waves

		&__bg-waves {
		}
	}

	@include mq(sm) {
		// background-size: 115%, cover, 300px;
		// background-position: left -80px top 0px, center center,
		// 	left -2vw bottom -50%;
	}

	@include mq(2sm) {
		// background-size: 113%, cover, 310px;
		// background-position: left -80px top 0px, center center, left 0 bottom 0%;
	}

	@include mq(med) {
		// background: url(/главная-фон.png),
		// 	linear-gradient(
		// 		90deg,
		// 		rgb(255, 255, 255) 35.11%,
		// 		rgba(255, 0, 0, 0) 50.4%
		// 	);
		// background-size: 77%, cover;
		// // background-position: right -30% top 22px, left 0px top 63px;
		// background-position: right -30% top 25px, left 0px top 65px;
		// background-repeat: no-repeat, no-repeat;
		// background-blend-mode: screen;

		// position: relative;
		// z-index: 20;

		// padding-bottom: 180px;
		// margin-bottom: 80px;
	}

	@include mq(lg) {
		// background-size: 82%, cover;
		// background-position: right -10% top -0.35vw, left 0px top 58px;

		// padding-bottom: 190px;
		// margin-bottom: 80px;
	}

	@include mq(xl) {
		// --mt-negative: -5rem;
		// background-size: 80%, cover;
		// background-position: right -80% top -0.65vw, left 0px top 58px;

		// padding-bottom: 180px;
		// margin-bottom: 80px;
	}

	// .hero-section__container

	&__container {
		display: flex;
		flex-direction: column;

		align-items: center;

		@include mq(med) {
			display: block;
		}
	}

	// .hero-section__title

	&__title {
		display: inline-flex;
		--gp: 13px;
		// align-items: center;
		gap: var(--gp);

		font-family: 'Gilroy', sans-serif;
		line-height: 1;
		font-weight: 700;

		text-transform: uppercase;

		z-index: 5;
		position: relative;

		@include mq(med) {
			flex-direction: column;
			--gp: 18px;
			margin-top: 55px;
		}

		@include mq(2xl) {
			--gp: 23px;
		}
	}

	// .hero-section__title-first-two-words

	&__title-first-two-words {
		display: inline-flex;
		flex-direction: column;

		span {
			line-height: 0.9;

			&:first-of-type {
				font-size: 6.2rem;
				font-weight: 700;

				color: $primary;

				margin-left: -0.5rem;
			}
			&:last-of-type {
				font-size: 1.35rem;
			}
		}

		@include mq(med) {
			gap: var(--gp, 18px);

			span {
				display: block;

				&:first-of-type {
					font-size: 12.8rem;
				}
				&:last-of-type {
					font-size: 3.2rem;
				}
			}
		}

		@include mq(2xl) {
			gap: var(--gp, 23px);

			span {
				&:first-of-type {
					font-size: 15.4rem;
				}
				&:last-of-type {
					font-size: 3.6rem;
				}
			}
		}
	}

	// .hero-section__title-second-two-words

	&__title-second-two-words {
		margin-top: 5px;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: flex-end;

		span {
			line-height: 0.9;

			&:first-of-type {
				font-size: 2.8rem;
			}
			&:last-of-type {
				font-size: 3rem;
				color: $primary;
			}
		}

		@include mq(med) {
			// display: block;
			gap: var(--gp, 18px);
			margin-top: 0;

			span {
				display: block;

				&:first-of-type {
					font-size: 5.2rem;
				}
				&:last-of-type {
					font-size: 6rem;
				}
			}
		}

		@include mq(2xl) {
			// display: block;
			gap: var(--gp, 23px);
			margin-top: 0;

			span {
				display: block;

				&:first-of-type {
					font-size: 6.4rem;
				}
				&:last-of-type {
					font-size: 7rem;
				}
			}
		}
	}

	// .hero-section__certificates

	&__certificates {
		margin-top: 2rem;

		border-radius: 3rem;
		background: $grey;

		overflow: hidden;

		@include mq(med) {
			margin-top: 4rem;
		}
	}

	.certificates {
		--px: 17px;
		--py: 5px;
		--py-list: 20px;
		// maw343

		@extend %tpl-certificates;

		z-index: 1;

		@include mq(med) {
			position: absolute;
			left: 0;
			right: 0;

			width: 100vw;
			max-width: unset !important;
			// margin-left: -20px;
			// margin-right: -20px;

			// .certificates__title
			&__title {
			}

			// .certificates__list

			&__list {
				flex-direction: row !important;
			}

			// .certificates__item

			&__item {
				display: inline-flex !important;
				width: 100%;
				flex-direction: column;
				border-right: 1px solid black;
				border-bottom: none !important;
				padding-top: 0 !important;
				// padding-left: 40%;

				& > * {
					margin-left: 30%;
				}

				&:first-of-type {
				}
				&:last-of-type {
					padding-bottom: 1rem !important;
					border-right: none;
				}
			}

			// .certificates__item-time

			&__item-time {
				font-size: 2.4rem;
				font-weight: 800;
			}

			// .certificates__item-price

			&__item-price {
				font-size: 2.4rem;
				font-weight: 700;
			}
		}

		@include mq(xl) {
			position: static;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			max-width: 550px !important;

			z-index: 10;
			position: relative;

			// .certificates__title
			&__title {
				font-size: 3.6rem;
			}

			// .certificates__list

			&__list {
				flex-direction: column !important;
			}

			// .certificates__item

			&__item {
				display: flex !important;
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				border-right: none !important;
				border-bottom: 1px solid black !important;
				padding-top: 1rem !important;
				padding-bottom: 1rem !important;
				// padding-left: 40%;

				& > * {
					margin-left: 0 !important;
				}

				&:first-of-type {
				}
				&:last-of-type {
					border-bottom: none !important;
				}
			}

			// .certificates__item-time

			&__item-time {
				font-size: 2.4rem;
				font-weight: 800;
			}

			// .certificates__item-price

			&__item-price {
				font-size: 2.4rem;
				font-weight: 700;
			}
		}

		@include mq(2xl) {
			max-width: 640px !important;
		}
	}
}
.container {
}
