.modal {
	&__overlay {
		position: fixed;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba($grey, 0.6);
		opacity: 0;

		z-index: 50;

		pointer-events: none;
	}

	&.is-open {
		.modal__overlay {
			pointer-events: all;
			opacity: 1;

			.modal__content {
				opacity: 1;
				visibility: visible;
				transform: translateY(0%);
				transition: all 250ms ease-in;
			}
		}
	}

	// .modal__content
	&__content {
		margin: 20px;
		width: 100%;
		max-width: 600px;
		border-radius: 20px;

		overflow: hidden;

		background: $white;
		opacity: 0;
		visibility: hidden;

		transform: translateY(-120%);
		transition: all 250ms ease-in;

		position: relative;
	}

	// .modal-form__header

	&__header {
		background: $primary;
		padding: 10px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .modal-form__header-title

	&__header-title {
		font-family: $Gilroy;
		font-size: 1.8rem;
		font-weight: 700;

		color: $white;

		text-align: center;
		text-transform: uppercase;

		margin-left: auto;
		margin-right: auto;
	}

	// .modal__close

	&__close {
		padding: 0.5em;

		font-weight: 600;

		background: transparent;
		color: $white;
	}

	// .modal__body

	&__body {
		padding: 10px;

		font-size: 1.6rem;
	}

	// .modal__body-form

	&__body-form {
		display: block;
		width: fit-content;

		margin-left: auto;
		margin-right: auto;

		padding-top: 20px;
	}
	.form {
		// .form__row

		&__row {
			position: relative;

			--px: 10px;
			--py: 10px;

			input {
				padding: var(--py) var(--px);
				border-radius: 5px;

				border: 1px solid $grey;

				font-size: 1.6rem;
				font-weight: 500;
				color: $black;

				&:focus {
					& ~ label {
						transform: translate(calc(var(--px) * -1), calc(var(--py) * -3.5));
						font-size: 1.4rem;
					}

					outline: 2px solid mix($primary, $white, 40%);
				}
			}

			label {
				display: block;
				position: absolute;

				top: var(--py);
				left: var(--px);

				transform: translate(0);
				transition: all 150ms ease-in;

				pointer-events: none;

				&.active {
					transform: translate(calc(var(--px) * -1), calc(var(--py) * -3.5));
					font-size: 1.4rem;
				}
			}

			small {
				display: block;
				// display: none;
				margin-top: 0.5em;
				padding-left: var(--px);

				font-size: 1.2rem;
				font-weight: 500;
				color: mix($primary, red, 10%);

				&.hidden {
					display: none;
				}
			}
		}

		&__row + .form__row {
			margin-top: 2.25rem;
		}

		// .form__submit

		&__submit {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 2rem;

			width: fit-content;

			font-size: 1.6rem;
			font-weight: 600;
			text-transform: uppercase;

			color: $white;
			background: $primary;

			transition: transform 150ms ease-in;

			&:hover {
				opacity: 0.85;
			}

			&:focus {
				opacity: 1;
				transform: scale(1.05);
			}

			padding: 0.75em 1.5em;
			border-radius: 20px;
		}
	}
	.btn {
	}
}
