@import '../abstract/index';
@import '../components/index';

.reviews-section {
	padding-top: 70px;

	// .reviews-section__container

	&__container {
	}

	// .reviews-section__title

	&__title {
		@extend %tpl-h2;
		margin-bottom: 34px;
	}

	.glide {
		// .glide__track

		&__track {
		}

		// .glide__slides

		&__slides {
		}

		// .glide__slide

		&__slide {
		}

		// .glide__arrows

		&__arrows {
			@extend %tpl-slider-arrows;
			margin-top: 40px;
		}

		// .glide__arrow

		&__arrow {
			@extend %tpl-slider-arrow;
			transform: translateY(0) !important;
		}

		// .glide__arrow--left

		&__arrow--left {
		}

		// .glide__bullets

		&__bullets {
			@extend %tpl-slider-bullets;
		}

		// .glide__bullet

		&__bullet {
			@extend %tpl-slider-bullet;

			&--active {
				color: $secondary !important;
			}
		}

		// .glide__arrow--right

		&__arrow--right {
		}
	}

	.slide-card {
		background-color: $grey;

		padding: 15px;
		border-radius: 30px;

		// .slide-card__img

		&__img {
			img {
				width: 100%;
				height: 208px;

				object-fit: cover;
			}
		}

		// .slide-card__body

		&__body {
			margin-top: 18px;
		}

		// .slide-card__paragraph

		&__paragraph {
			font-family: $Gilroy;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.1875;

			color: $black;
		}
	}
}
.container {
}
