@import '../abstract/colors';
@import '../abstract/mixins';

.what-section {
	position: relative;

	// .what-section__content

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			position: absolute;
			object-fit: cover;
		}
	}
	// .what-section__title-planes

	&__title-planes {
		// margin-top: 3em;
		max-width: 34ch;

		font-family: $Gilroy;
		font-weight: 800;
		font-size: 1.6rem;
		line-height: 1.25;
		// line-height: 20px;
		text-align: center;
		text-transform: uppercase;

		color: $black;

		span {
			color: $primary;
		}
	}

	// .what-section__title-trainer

	&__title-trainer {
		@extend %tpl-h2;

		max-width: 17ch;

		margin-top: 57px;
		margin-bottom: 39px;
	}

	// .what-section__trainer

	&__trainer {
		position: relative;

		img {
			&#trainer-bg {
				// position: absolute;
				// max-width: 232px;
				// max-height: 152px;

				// margin-right: auto;
				// margin-left: auto;

				width: 75vw;

				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);
				z-index: -2;
			}
			&#trainer {
				// max-width: 300px;

				// position: absolute;
				// top: -30%;

				// left: -5%;
				// z-index: 10;
				position: relative;
				width: 80vw;
				margin-right: auto;
				z-index: 5;
			}
		}

		.clouds {
			// position: absolute;
			img {
				position: absolute;

				&:nth-of-type(1) {
					// max-width: 65px;

					// left: -6%;
					// top: 5%;

					width: clamp(65px, 17vw, 280px);
					top: 17%;
					left: -2vw;
				}
				&:nth-of-type(2) {
					// max-width: 112px;
					width: clamp(112px, 34vw, 480px);

					right: -3%;
					// top: -17%;
					top: -9%;
					z-index: 0;
				}
				&:nth-of-type(3) {
					// max-width: 65px;

					width: clamp(65px, 17vw, 280px);

					right: 0;
					top: 55%;
				}
			}
		}
	}

	// .what-section__trainer-img

	&__trainer-img {
	}
}
.container {
	// .container__what-section

	&__what-section {
	}

	// .container__what-section-paint

	&__what-section-paint {
	}

	// .container__what-section-trainer

	&__what-section-trainer {
		position: relative;
	}
}
