@import '../abstract/index';
@import '../components/index';

.what-section {
	position: relative;

	@include mq(med) {
		padding-top: 50px;
	}

	// .what-section__content

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;

		// position: relative;

		&-img {
			position: absolute;
			// transform: translate(0%, -25%);
			top: 0;
			// bottom: 0;

			img {
				// position: absolute;
				// inset: 0;
				// height: 100%;
				// object-fit: cover;
				// transform: translate(0, -25%);
				width: 100%;
			}

			@include mq(med) {
				// top: -50%;
				// bottom: -50%;
				left: 5%;
				right: 5%;
				height: 100%;
				max-height: 185px;

				// width: 70%;
				img {
					// inset: 0 10% 0 10%;
					// margin-left: 10%;
					// margin-right: 10%;
					// object-fit: cover;
					max-height: 185px;
				}
			}

			@include mq(2xl) {
				max-height: 225px;

				img {
					max-height: 225px;
				}
			}
		}
	}
	// .what-section__title-planes

	&__title-planes {
		margin-top: 1.8em;
		max-width: 34ch;

		font-family: $Gilroy;
		font-weight: 800;
		font-size: 1.6rem;
		line-height: 1.25;
		// line-height: 20px;
		text-align: center;
		text-transform: uppercase;

		color: $black;

		span {
			color: $primary;
		}

		@include mq(med) {
			margin-top: 0;
			font-size: 36px;
		}

		@include mq(2xl) {
			font-size: 48px;
		}
	}

	// .what-section__title-trainer

	&__title-trainer {
		@extend %tpl-h2;

		max-width: 17ch;

		margin-top: 57px;
		margin-bottom: 39px;

		@include mq(med) {
			margin-top: 0;
		}
	}

	// .what-section__trainer

	&__trainer {
		position: relative;

		img {
			&#trainer-bg {
				// position: absolute;
				// max-width: 232px;
				// max-height: 152px;

				// margin-right: auto;
				// margin-left: auto;

				width: 75vw;
				max-width: 100%;

				position: absolute;
				top: 50%;
				left: 50%;

				object-fit: cover;

				transform: translate(-50%, -50%);
				z-index: -2;
			}
			&#trainer {
				// max-width: 300px;

				// position: absolute;
				// top: -30%;

				// left: -5%;
				// z-index: 10;
				position: relative;
				width: 80vw;
				margin-right: auto;
				margin-top: 20px;
				z-index: 5;
			}
			&#trainer-shadow {
				width: 100%;

				transform: translateY(-30%);
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			width: 100%;
			height: auto;

			background: url(/assets/img/trainger-shadow.png);
			background-repeat: no-repeat;
		}

		.clouds {
			// position: absolute;
			img {
				position: absolute;

				&:nth-of-type(1) {
					// max-width: 65px;

					// left: -6%;
					// top: 5%;

					width: clamp(65px, 17vw, 280px);
					top: 17%;
					left: -2vw;
				}
				&:nth-of-type(2) {
					// max-width: 112px;
					width: clamp(112px, 34vw, 480px);

					right: -3%;
					// top: -17%;
					top: -9%;
					z-index: 0;
				}
				&:nth-of-type(3) {
					// max-width: 65px;

					width: clamp(65px, 17vw, 280px);

					right: 0;
					top: 55%;
				}
			}
		}
	}

	// .what-section__trainer-img

	&__trainer-img {
	}
}
.container {
	// .container__what-section

	&__what-section {
	}

	// .container__what-section-paint

	&__what-section-paint {
	}

	// .container__what-section-trainer

	&__what-section-trainer {
		position: relative;

		@include mq(med) {
			margin-top: 95px;
		}
	}
}
