@import '../abstract/colors';
@import '../abstract/mixins';

.where-section {
	padding: 75px 0;
	position: relative;

	// .where-section__container

	&__container {
	}

	// .where-section__title

	&__title {
		@extend %tpl-h2;
		margin-bottom: 25px;
	}

	// .where-section__slider

	&__slider {
	}

	.glide {
		// position: relative;

		// .glide__track

		&__track {
			margin-top: 50px;
		}

		// .glide__slides

		&__slides {
		}

		// .glide__slide

		&__slide {
		}

		// .glide__bullets

		&__bullets {
			@extend %tpl-slider-bullets;
		}

		// .glide__bullet

		&__bullet {
			@extend %tpl-slider-bullet;

			&--active {
				color: $secondary;
			}
		}

		// .glide__arrows

		&__arrows {
			@extend %tpl-slider-arrows;
		}

		// .glide__arrow

		&__arrow {
			@extend %tpl-slider-arrow;
		}

		// .glide__arrow--left

		&__arrow--left {
			transform: translateX(-1rem) !important;
		}

		// .glide__arrow--right

		&__arrow--right {
			transform: translateX(1rem) !important;
		}
	}
	.slide-card {
		// overflow: hidden;
		// border: 1px solid rgba($grey, 0.6);
		// border-radius: 30px;
		box-shadow: 1px 2px 0px rgba($grey, 0.4);

		// .slide-card__title
		&__title {
			padding: 11px 15px 14px;
			border-radius: 30px 30px 0 0;

			font-family: $Acrom;
			font-weight: 700;
			font-size: 20px;
			line-height: 1.2;
			text-transform: uppercase;
			color: $white;
			background: $primary;

			@include mq(med) {
				font-size: 26px;
			}

			@include mq(2xl) {
				font-size: 36px;
			}

			@include mq(4xl) {
				font-size: 48px;
			}
		}

		// .slide-card__img

		&__img {
			img {
				width: 100%;
				object-fit: cover;
				max-height: 230px;

				@include mq(med) {
					max-height: 290px;
				}
				@include mq(lg) {
					max-height: 432px;
				}
				@include mq(3xl) {
					max-height: 560px;
				}
			}
		}

		// .slide-card__body

		&__body {
			padding-top: 1rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			padding-bottom: 1rem;
		}
		// .slide-card__para

		&__para {
			font-family: $Gilroy;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.1875;

			color: $black;

			@include mq(med) {
				font-size: 20px;
			}

			@include mq(2xl) {
				font-size: 24px;
			}
		}

		// .slide-card__more

		&__more {
			margin-top: 26px;

			padding: 9px 18px;

			font-family: $Gilroy;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.1875;
			text-align: center;

			color: $white;

			background: $primary;
			border-radius: 100px;

			@include mq(med) {
				font-size: 20px;
			}

			@include mq(2xl) {
				font-size: 24px;
			}
		}
	}
}
.container {
}

.btn {
}
